# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [21]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [23]:
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [24]:
df.loc[:, 'school':'guardian'].head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

In [25]:
df = df.loc[:, 'school':'guardian']

### Step 5. Create a lambda function that will capitalize strings.

In [26]:
capitalize = lambda word: word.capitalize()

In [27]:
capitalize("word")

'Word'

### Step 6. Capitalize both Mjob and Fjob

In [28]:
df.Mjob = df.Mjob.apply(capitalize)
df.Mjob

0       At_home
1       At_home
2       At_home
3        Health
4         Other
         ...
390    Services
391    Services
392       Other
393    Services
394       Other
Name: Mjob, Length: 395, dtype: object

In [29]:
df.Fjob = df.Fjob.apply(capitalize)
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 7. Print the last elements of the data set.

In [30]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [31]:
# already done

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [32]:
def majority(age):
    if age > 17:
        return True
    else:
        return False

In [33]:
df['legal_drinker'] = df.age.apply(majority)
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [35]:
df[:].apply(lambda x: x * 10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
1,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
2,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
3,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
4,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0

In [36]:
# That was everything. Now let's just do numbers:

def times_10(x):
    number = False
    if (isinstance(x, int)) or (isinstance(x, float)):
        number = True
    if number == True:
        return x * 10
    else:
        return x

In [37]:
times_10(6)

60

In [38]:
times_10("word")

'word'

In [40]:
df[:].apply(times_10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

In [41]:
df[:].applymap(times_10).head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,10
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,0
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,0
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,0
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,0

There's a difference between `apply` and `applymap`  
https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas