# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import numpy as np
import random

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
cars2_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

cars1 = pd.read_csv(cars1_url)
cars2 = pd.read_csv(cars2_url)

In [3]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [7]:
cars1.drop(cars1.columns[[9,10,11,12,13]], axis=1, inplace=True)

### Step 5. What is the number of observations in each dataset?

In [8]:
cars1.shape

(198, 9)

In [9]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars = cars1.append(cars2)

In [11]:
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
random.randint(15000, 73000)

66385

In [14]:
owners = random.sample(range(15000, 73000), 398)

In [20]:
owners[0:10]

[64043, 68020, 40925, 36186, 55834, 35697, 42965, 31327, 21814, 64839]

### Step 8. Add the column owners to cars

In [21]:
cars['owners'] = owners

In [22]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,64043
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,68020
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,40925
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,36186
4,17.0,8,302,140,3449,10.5,70,1,ford torino,55834
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,32580
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,48010
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,55238
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,32524
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,47296